*.tlog
*.exe
*.ilk
*.pdb
*.suo
*.idb
*.obj
*.lastbuildstate
*.ipch
*.log
a1/VS2017/.vs/Labs/v16/Browse.VC.db
a1/VS2017/.vs/Labs/v16/Browse.VC.opendb
a1/Build/Debug/Labs.vcxproj.FileListAbsolute.txt
a2/VS2017/.vs/Labs/v16/Browse.VC.db
a2/VS2017/.vs/Labs/v16/Browse.VC.opendb
project/VS2017/.vs/Labs/v16/Browse.VC.db
project/VS2017/.vs/Labs/v16/Browse.VC.db-shm
project/VS2017/.vs/Labs/v16/Browse.VC.db-wal
